<%- include('../partials/header') -%>
<!-- search bar -->
<form id="search-bar" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Squasher..." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<!-- new question -->
<% if (user) {%>
    <div class="question-container">
        <form class="question-contents" action="/questions" method="POST">
            <input class="question-title" type="text" name="title" placeholder="Title your bug...">
            <textarea name="content" class="question-text" cols="100" rows="8" placeholder="myCode.isWorking = false;"></textarea>
            <button id="post-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Post Question</button>
        </form>
    </div>
<%}%>

<!-- questions thread -->
<% questions.forEach((q) => { %>
    <div class="question-container list">
        <div class="question-contents">
            <div class="question-form">
                <div class="title-container question-title list-title">
                    <img class="profile-img" src="<%=q.userAvatar%>" alt="question owner's avatar">
                    <% if(q.isSolved) { %>
                        <img class="boot-icon" src="/images/boot-icon-green.png" alt="bug-resolved-icon">
                    <% } else { %>
                        <img class ="bug-icon" src="/images/bug-icon-cleaned.png" alt="bug-icon">
                    <% } %> 
                    <p><span class="profile-info-span"><%=q.userName%></span><a href="/questions/<%=q._id%>"><%=q.title%></a></p>
                </div>
                <div class="content-container">
                    <p class="question-text list-content"><%=q.content%></p>
                </div>
            </div>
        </div>
    </div>
<% }) %>


<%- include('../partials/footer') -%> 