<%- include('../partials/header') -%>

<div class="edit-container">
    <div class="question-container">
        <form class="question-contents" action="/questions/<%=question._id%>?_method=PUT" method="POST">
            <input class="question-title" type="text" name="title" value="<%=question.title%>">
            <textarea name="content" class="question-text" cols="100" rows="8"><%=question.content%></textarea>
            <button id="post-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Save Question</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') -%>